@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
    --animate-slide-right-and-fade: slideRightAndFade 0.2s ease-out;
    --animate-slide-down-and-fade: slideDownAndFade 0.2s ease-out;
    --animate-slide-up-and-fade: slideUpAndFade 0.2s ease-out;
    --animate-slide-up-and-fade-out: slideUpAndFadeOut 0.2s ease-out;
    --animate-fade-in: fadeIn 0.2s ease-out;
    --animate-fade-out: fadeOut 0.2s ease-out;
    --animate-gradient-x: gradient-x 15s ease infinite;

    --shadow-tile: 0 16px 24px -16px rgb(0 0 0 / 0.1);

    @keyframes slideRightAndFade {
        0% {
            transform: translateX(-10px);
            opacity: 0;
        }
        100% {
            transform: translateX(0px);
            opacity: 1;
        }
    }
    @keyframes slideDownAndFade {
        0% {
            transform: translateY(-10px);
            opacity: 0;
        }
        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }
    @keyframes slideUpAndFade {
        0% {
            transform: translateY(10px);
            opacity: 0;
        }
        100% {
            transform: translateY(0px);
            opacity: 1;
        }
    }
    @keyframes slideUpAndFadeOut {
        0% {
            transform: translateY(0px);
            opacity: 1;
        }
        100% {
            transform: translateY(-10px);
            opacity: 0;
        }
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes gradient-x {
        0%,
        100% {
            background-size: 300% 300%;
            background-position: left center;
        }
        50% {
            background-size: 300% 300%;
            background-position: right center;
        }
    }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }

    button:not(:disabled),
    [role='button']:not(:disabled) {
        cursor: pointer;
    }
}

html {
    @apply bg-stone-50;
    @apply antialiased;
}

html.dark {
    @apply bg-neutral-900;
}

html {
    background-image: url('/background-light.png');
    background-size: cover;
    background-attachment: fixed;
}

html.dark {
    background-image: url('/background-dark.png');
}
